header.w3-container.w3-teal
    h3 File list
.w3-container
    table#list.w3-section.w3-table-all
        tr
            th File
            th Description
            th Upload date
        each file in catalog
            tr
                td
                    a(href="/uploaded/"+file.name)= file.name
                td= file.description
                td= file.update