doctype html
html
    head
        title Desenvolvimento de Aplicações WEB
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/w3.css")
        link(rel="stylesheet", href="/mystyle.css")
    body
        block corpo